<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerHomeServlet</servlet-name>
        <servlet-class>controller.CustomerHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCustomerController</servlet-name>
        <servlet-class>controller.LoginCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSignUp</servlet-name>
        <servlet-class>controller.LoginSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerSearch</servlet-name>
        <servlet-class>controller.CustomerSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRentGetId</servlet-name>
        <servlet-class>controller.CustomerRentGetId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusInformationGetId</servlet-name>
        <servlet-class>controller.CusInformationGetId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusInformationServlet</servlet-name>
        <servlet-class>controller.CusInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCustomerInfoServlet</servlet-name>
        <servlet-class>controller.CheckCustomerInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRent</servlet-name>
        <servlet-class>controller.CustomerRent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>controller.OrderHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleOrder</servlet-name>
        <servlet-class>controller.VehicleOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleOrderConfirm</servlet-name>
        <servlet-class>controller.VehicleOrderConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerOrderConfirmed</servlet-name>
        <servlet-class>controller.CustomerOrderConfirmed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderVehicle</servlet-name>
        <servlet-class>controller.UpdateOrderVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderVehicleFinal</servlet-name>
        <servlet-class>controller.UpdateOrderVehicleFinal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleOrderDeny</servlet-name>
        <servlet-class>controller.VehicleOrderDeny</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerHomeServlet</servlet-name>
        <url-pattern>/CustomerHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCustomerController</servlet-name>
        <url-pattern>/LoginCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSignUp</servlet-name>
        <url-pattern>/LoginSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerSearch</servlet-name>
        <url-pattern>/CustomerSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRentGetId</servlet-name>
        <url-pattern>/CustomerRentGetId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusInformationGetId</servlet-name>
        <url-pattern>/CusInformationGetId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusInformationServlet</servlet-name>
        <url-pattern>/CusInformationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCustomerInfoServlet</servlet-name>
        <url-pattern>/CheckCustomerInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRent</servlet-name>
        <url-pattern>/CustomerRent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/OrderHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleOrder</servlet-name>
        <url-pattern>/VehicleOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleOrderConfirm</servlet-name>
        <url-pattern>/VehicleOrderConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerOrderConfirmed</servlet-name>
        <url-pattern>/CustomerOrderConfirmed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderVehicle</servlet-name>
        <url-pattern>/UpdateOrderVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderVehicleFinal</servlet-name>
        <url-pattern>/UpdateOrderVehicleFinal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleOrderDeny</servlet-name>
        <url-pattern>/VehicleOrderDeny</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>LoginCustomer.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ListCarControl</servlet-name>
        <servlet-class>control.ListCarControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>controller.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleServlet</servlet-name>
        <servlet-class>controller.Vehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleController</servlet-name>
        <servlet-class>controller.VehicleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleInsert</servlet-name>
        <servlet-class>controller.VehicleInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehiclesDelete</servlet-name>
        <servlet-class>controller.VehiclesDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleSearch</servlet-name>
        <servlet-class>controller.VehicleSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintenanceHistoryController</servlet-name>
        <servlet-class>controller.MaintenanceHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintenanceHistoryDelete</servlet-name>
        <servlet-class>controller.MaintenanceHistoryDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintenanceHistoryInsert</servlet-name>
        <servlet-class>controller.MaintenanceHistoryInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintenanceHistoryGetIdInsert</servlet-name>
        <servlet-class>controller.MaintenanceHistoryGetIdInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleUpdateGetId</servlet-name>
        <servlet-class>controller.VehicleUpdateGetId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleUpdate</servlet-name>
        <servlet-class>controller.VehicleUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListCarControl</servlet-name>
        <url-pattern>/ListCarControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/LoginControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleServlet</servlet-name>
        <url-pattern>/VehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleController</servlet-name>
        <url-pattern>/VehicleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleInsert</servlet-name>
        <url-pattern>/VehicleInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehiclesDelete</servlet-name>
        <url-pattern>/VehiclesDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleSearch</servlet-name>
        <url-pattern>/VehicleSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintenanceHistoryController</servlet-name>
        <url-pattern>/MaintenanceHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintenanceHistoryDelete</servlet-name>
        <url-pattern>/MaintenanceHistoryDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintenanceHistoryInsert</servlet-name>
        <url-pattern>/MaintenanceHistoryInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintenanceHistoryGetIdInsert</servlet-name>
        <url-pattern>/MaintenanceHistoryGetIdInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleUpdateGetId</servlet-name>
        <url-pattern>/VehicleUpdateGetId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleUpdate</servlet-name>
        <url-pattern>/VehicleUpdate</url-pattern>
    </servlet-mapping>
</web-app>
